In [224]:
import pandas as pd
import numpy as np
books = pd.read_csv(r"D:\Projects\Group-Projects\Book_Recommendation_webapp\Dataset\Books_dataset\books_new.csv")
books.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [1]:
import pandas as pd

# Load your CSV dataset into a pandas DataFrame
# df = pd.read_csv(r'C:\Users\user\OneDrive\diug\OneDrive\Desktop\my_project\database\books_new.csv')
df1 = pd.read_csv(r'C:\Users\user\OneDrive\diug\OneDrive\Desktop\my_project\database\books_preprocessed.csv')

# Get the unique genres in your dataset
# unique_genres = df['Genre'].unique()
unique_genres = df1['Genre'].unique()

# Print the unique genres
print("Unique Genres:")
print(unique_genres)

# Count the number of books in each genre
genre_counts = df1['Genre'].value_counts()

# Print the counts for each genre
print("\nBook Counts by Genre:")
print(genre_counts)



# Load the dataset
books = pd.read_csv(r"C:\Users\user\OneDrive\diug\OneDrive\Desktop\my_project\database\books_preprocessed.csv")

# Replace the old genre names with new ones
genre_mapping = {
    'philosophi': 'Philosophy',
    'scienc': 'science',
    'nonfict': 'nonfiction',

}

books['Genre'] = books['Genre'].replace(genre_mapping)

# Save the updated dataset to a new CSV file
books.to_csv(r"C:\Users\user\OneDrive\diug\OneDrive\Desktop\my_project\database\books_new_updated.csv", index=False)

Unique Genres:
['tech' 'scienc' 'nonfict' 'fiction' 'philosophi']

Book Counts by Genre:
Genre
fiction       34
nonfict       33
tech          24
scienc        13
philosophi     8
Name: count, dtype: int64

## Data Preprocessing :-

### Data now used

In [225]:
books = books[['Title','Author','Genre','Publisher','SubGenre']]
books.head()

,Title,Author,Genre,Publisher,SubGenre
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,Wiley,signal_processing
1,Data Smart,"Foreman, John",tech,Wiley,data_science
2,God Created the Integers,"Hawking, Stephen",tech,Penguin,mathematics
3,Superfreakonomics,"Dubner, Stephen",science,HarperCollins,economics
4,Orientalism,"Said, Edward",nonfiction,Penguin,history

In [226]:
# Missing Data
books.isnull().sum()

Title         0
Author       24
Genre         0
Publisher    96
SubGenre      0
dtype: int64

In [227]:
books.dropna(inplace=True)

In [228]:
# Missing Data Removed
books.isnull().sum()

Title        0
Author       0
Genre        0
Publisher    0
SubGenre     0
dtype: int64

In [229]:
# Duplicate Data :-
books.duplicated().sum()

0

In [230]:
books['Tags'] = books['Genre'] + books['Publisher'] + books['SubGenre']
books.head()

,Title,Author,Genre,Publisher,SubGenre,Tags
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,Wiley,signal_processing,techWileysignal_processing
1,Data Smart,"Foreman, John",tech,Wiley,data_science,techWileydata_science
2,God Created the Integers,"Hawking, Stephen",tech,Penguin,mathematics,techPenguinmathematics
3,Superfreakonomics,"Dubner, Stephen",science,HarperCollins,economics,scienceHarperCollinseconomics
4,Orientalism,"Said, Edward",nonfiction,Penguin,history,nonfictionPenguinhistory

In [231]:
new_books = books[['Title','Author','Tags']]
new_books.head()

                      Title            Author                           Tags
0  Fundamentals of Wavelets  Goswami, Jaideva     techWileysignal_processing
1                Data Smart     Foreman, John          techWileydata_science
2  God Created the Integers  Hawking, Stephen         techPenguinmathematics
3         Superfreakonomics   Dubner, Stephen  scienceHarperCollinseconomics
4               Orientalism      Said, Edward       nonfictionPenguinhistory

In [232]:
type(new_books['Tags'][0])

str

In [233]:
new_books['Tags'] = new_books['Tags'].apply(lambda x:x.lower())

C:\Users\mayan\AppData\Local\Temp\ipykernel_2212\1308611461.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_books['Tags'] = new_books['Tags'].apply(lambda x:x.lower())

In [234]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [235]:
vectors = cv.fit_transform(new_books['Tags']).toarray()

In [236]:
cv.get_feature_names_out()

array(['blackswanhistory', 'fictionharpercollinsclassic',
       'fictionmaujnovel', 'fictionpannovel', 'fictionpenguinclassic',
       'fictionpenguinnovel', 'fictionrandom', 'fictionrupaclassic',
       'fictionrupanovel', 'fictiontransworldnovel', 'fictionvikasnovel',
       'fictionvintageclassic', 'hallcomputer_science', 'headmathematics',
       'houseautobiography', 'houseclassic', 'houseeconomics',
       'househistory', 'housenovel', 'housephysics',
       'nonfictionbbctrivia', 'nonfictiondellautobiography',
       'nonfictionfontanaanthology', 'nonfictionfreepresspsychology',
       'nonfictionharpercollinshistory',
       'nonfictionhyperionautobiography', 'nonfictionmaujautobiography',
       'nonfictionmaujmisc', 'nonfictionmaujpoetry', 'nonfictionorient',
       'nonfictionpenguinautobiography', 'nonfictionpenguinhistory',
       'nonfictionpenguinpsychology', 'nonfictionpicadorhistory',
       'nonfictionrandom', 'nonfictionrupaautobiography',
       'nonfictionsimon', 'nonfictionvikashistory',
       'philosophypenguineconomics', 'philosophypenguinobjectivism',
       'philosophypenguinphilosophy', 'philosophypenguinscience',
       'philosophypockethistory', 'philosophyroutledgeeducation',
       'philosophyroutledgephilosophy', 'philosophyvintageautobiography',
       'presscomputer_science', 'pressdata_science',
       'reillycomputer_science', 'reillydata_science',
       'reillysignal_processing', 'schusterhistory', 'sciencebodley',
       'scienceharpercollinseconomics', 'scienceharpercollinsphysics',
       'sciencehighstakesmathematics', 'sciencejaicophysics',
       'sciencepenguineconomics', 'sciencepenguinmathematics',
       'sciencepenguinphysics', 'sciencerandom',
       'sciencespringereconomics', 'techapressdata_science',
       'techcrcsignal_processing', 'techelsevierdata_science',
       'techhbamathematics', 'techmit', 'techo', 'techpearsoneconomics',
       'techpearsonsignal_processing', 'techpenguindata_science',
       'techpenguinmathematics', 'techprentice',
       'techspringerdata_science', 'techspringereconomics',
       'techtmhsignal_processing', 'techwileydata_science',
       'techwileysignal_processing'], dtype=object)

In [237]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [238]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [239]:
new_books['Tags'].apply(stem)

0              techwileysignal_process
1                    techwileydata_sci
2                  techpenguinmathemat
3           scienceharpercollinseconom
4             nonfictionpenguinhistori
                    ...
114              sciencespringereconom
115    nonfictionsimon&schusterhistori
116          nonfictionfontanaantholog
117        nonfictiondellautobiographi
119                fictionpenguinclass
Name: Tags, Length: 112, dtype: object

In [240]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)

In [241]:
def recommend(book):
    book_index = new_books[new_books['Title'] == book].index[0]
    distances = similarity[book_index]
    books_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in books_list:
        print(new_books.iloc[i[0]].Title)  
        # print(i[0])

In [242]:
recommend('God Created the Integers')

Fundamentals of Wavelets
Data Smart
Superfreakonomics
Orientalism
Nature of Statistical Learning Theory, The